{% load staticfiles %}
{% load static %}
<html>
    <head>
        <title>
            I-GLAIR
        </title>
        <meta name="viewport" content="width=device-width,initial-scale =1.0">
        <link rel ="stylesheet" href="{% static 'css/style.css' %}">
        <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .row div{padding: 10px 20px ; border : 100 px solid ;}
        </style>
    </head>
    <body>
        <div class = "container">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color:antiquewhite">
                <a class="navbar-brand">Data For Your GLAIR Device</a>
            </nav>
        <form action="/polls/Time" method="POST">
            {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Hours</label>
      <input type=number class = "form-control" value =0 name = "Hours"></input>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Minutes</label>
      <input type=number class="form-control" value = 0 name = "Minutes"></input>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>
    </body>
</html>
